<div class="feed-toggle">
  <ul class="nav nav-pills outline-active">
    <li class="nav-item" *ngIf="isLoggedIn$ | async">
      <a routerLinkActive="active" [routerLink]="['/feed']" class="nav-link"
        >Your feed</a
      >
    </li>
    <li class="nav-item">
      <a
        routerLinkActive="active"
        [routerLink]="['/']"
        class="nav-link"
        [routerLinkActiveOptions]="{ exact: true }"
        >Global feed</a
      >
    </li>
    <li class="nav-item" *ngIf="tagName">
      <a
        routerLinkActive="active"
        [routerLink]="['/tags', tagName]"
        class="nav-link">
        <i class="ion-pound"></i>
        {{ tagName }}
      </a>
    </li>
  </ul>
</div>
